/********************************************************************************
 *                                                                              *
 *  (c) Copyright 2015 - 2024 The Open University UK                            *
 *                                                                              *
 *  This software is freely distributed in accordance with                      *
 *  the GNU Lesser General Public (LGPL) license, version 3 or later            *
 *  as published by the Free Software Foundation.                               *
 *  For details see LGPL: http://www.fsf.org/licensing/licenses/lgpl.html       *
 *               and GPL: http://www.fsf.org/licensing/licenses/gpl-3.0.html    *
 *                                                                              *
 *  This software is provided by the copyright holders and contributors "as is" *
 *  and any express or implied warranties, including, but not limited to, the   *
 *  implied warranties of merchantability and fitness for a particular purpose  *
 *  are disclaimed. In no event shall the copyright owner or contributors be    *
 *  liable for any direct, indirect, incidental, special, exemplary, or         *
 *  consequential damages (including, but not limited to, procurement of        *
 *  substitute goods or services; loss of use, data, or profits; or business    *
 *  interruption) however caused and on any theory of liability, whether in     *
 *  contract, strict liability, or tort (including negligence or otherwise)     *
 *  arising in any way out of the use of this software, even if advised of the  *
 *  possibility of such damage.                                                 *
 *                                                                              *
 ********************************************************************************/
 /** Author: Michelle Bachler, KMi, The Open University **/

body { color: #696969; font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif; font-size: 1em; margin: 0px; }

.help-hint i { cursor: pointer; }
.hintRollover { border: 1px solid #308D88; left: 0px; padding: 0px; position: absolute; overflow:hidden; top: 0px; visibility: hidden; z-index: 20; }

.messagediv { background-color: #696969; color: #fff; display: none; font-weight: bold; height: 80px; left: 0px; padding: 5px; position: absolute; overflow: auto; top: 0px; width: 250px; }
.prompttext { box-shadow: 10px 10px 10px grey; background-color: #dee2e6; position: fixed; top: 0; left: 0; z-index: 1055; display: none; width: 100%; height: 100%; overflow-x: hidden; overflow-y: auto; outline: 0; }

.required { color: #A80000; font-weight: bold; }

textarea { resize: vertical; }

.footer-logo { margin-left: 15px; max-width: 200px; }

/**************/
/* font sizes */
/**************/
h1 { font-size: 1.6em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.1em; }

p { font-size: 0.9em; }
a { font-size: 0.9em; }
blockquote { font-size: 0.9em; }
p a { font-size: 1em; }
input { font-size: 0.9em; cursor: pointer; }
.form-control { font-size: 0.9em; }
.form-check-label { font-size: 0.9em; } 
.form-select { font-size: 0.9em; }
#editprofile .form-select { font-size: 0.9em; }
.col-form-label { font-size: 0.9em; }
.col-form-label + .col-sm-5 .form-select { font-size: 0.9em; }
.btn { font-size: 0.9em; }
.toolbar2 { font-size: 0.9em; }

dt { font-size: 0.9em; }
dd { font-size: 0.9em; }
dd a { font-size: 1em; }

span.nav strong { font-size: 0.9em; margin-bottom: 10px; }
.pagination .page-link { font-size: 0.9em; }
.pagination .page-link i.fa-lg { font-size: 0.9em !important; }

.span-link { font-size: 0.9em; }

a,
a:active,
a:visited,
a.active,
.nav-link { color: #4f7360; cursor: pointer; text-decoration: none; font-weight: bold; }
a:hover,
a.active:hover { color: #a91a70; text-decoration: none; }

.active { color: #4f7360; cursor: pointer; font-weight: bold; }
.active:hover { color: #a91a70; cursor: pointer; }

#dialoglogo { float: left; margin-bottom: 3px; margin-top: 3px; margin-left: 3px; }

ol li { vertical-align:top;	}

table { color: #696969; font-size: 0.9em; }
table tr { color: #696969 !important; }

/****************************************/
/** Conditions of User / Privacy pages **/
/****************************************/

.page { margin-left:20px; margin-right:20px; }
.paraindent1 {  }
.paraindent2 { margin-left: 48.0pt; text-indent: -18.0pt; }